<% if logged_in? %>
  <div class="row">
    
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>


  <div class="jumbotron row">

    <div class="col-md-8">
      <h1>Welcome to the Sample App</h1>

      <p>
        This is my customized home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
      <p>

      <p>
        Source code for this application: 
        <a href="https://github.com/Danishkh/ruby_sample_app/">
          https://github.com/Danishkh/ruby_sample_app
        </a>
      </p>   
      <br>
      <p>
        As you'll see the application still needs a job with <br>
        the styling and layout. For now mainly focused on the functionality 
        <br>and learning how things work in Rails.
      </p>
    </div>
    
    <div class="vertical-center col-md-3 col-md-offset-1">
      <%= link_to "Sign up here", signup_path, class: "btn btn-lg btn-primary"%>
      <p><%= link_to "Already have a user? Sign in here!", login_path %></p>
    </div>

  </div>

  <%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/', class: "col-md-offset-4" %>
<% end %>
